* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #83d3e7;
    background-color: #040d21;
}

h1 {
    font-size: 2em;
    font-weight: normal;
}